<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="cd_list" data-view="List" data-unordered="true" data-title="CD Events" data-moreinfo="More info text"></div>
    </li>
  </ul>
</div>