<% content_for :title do %>Pipeline View<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Pipeline" data-text="Event Based CD Pipeline" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hash" data-view="Text" data-title="SHA1" data-text="" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="pl-build" data-view="Health" data-title="Build"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="pl-stage" data-view="Health" data-title="Stage"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="pl-prod" data-view="Health" data-title="Prod"></div>
    </li>
  </ul>
</div>
